* {
  border: none;
  border-radius: 10;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 10px;
  min-height: 0px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  border-radius: 10px;
  transition: none;
  color: transparent;
  background: transparent;
}

#workspaces {
  margin: 4px;
  font-size: 4px;
  background: rgba(17, 17, 27, 0.38);
  transition: none;
  border-radius: 16px;
  box-shadow:
    inset -1px -1px 0 0 #89b4fa,
    inset 0 0 1px 1px #89b4fa,
    inset -1px -1px 0 0 #cba6f7;
}

#workspaces button {
  transition: none;
  color: #cdd6f4;
  background: transparent;
  font-size: 10px;
  border-radius: 2px;
}

#workspaces button.occupied {
  transition: none;
  color: #f28fad;
  background: transparent;
  font-size: 4px;
}

#workspaces button.active {
  /* color: #f38ba8; */
  color: #fab387;
}

#workspaces button:first-child:hover {
  transition: none;
  text-shadow: inherit;
  background: rgba(147, 153, 178, 0.38);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

#workspaces button:last-child:hover {
  transition: none;
  text-shadow: inherit;
  background: rgba(147, 153, 178, 0.38);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

#workspaces button:hover {
  transition: none;
  text-shadow: inherit;
  background: rgba(147, 153, 178, 0.38);
}

#workspaces button.active:hover {
  color: #eba0ac;
}

#submap {
  margin: 4px;
  padding: 0 8px;
  background: rgba(250, 179, 135, 0.38);
  transition: none;
  border-radius: 16px;
  box-shadow:
    inset -1px -1px 0 0 #eba0ac,
    inset 0 0 1px 1px #eba0ac,
    inset -1px -1px 0 0 #f2cdcd;
}

#network {
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #bd93f9;
}

#pulseaudio {
  border-radius: 10px;
  transition: none;
  color: #cdd6f4;
  margin-right: 8px;
}

#battery {
  margin: 4px;
  padding: 0 8px;
  border-radius: 16px;
  transition: none;
  background: rgba(17, 17, 27, 0.38);
  color: #cdd6f4;
  box-shadow:
    inset -1px -1px 0 0 #89b4fa,
    inset 0 0 1px 1px #89b4fa,
    inset -1px -1px 0 0 #cba6f7;
}

#battery.charging,
#battery.plugged {
  color: #161320;
  background-color: #b5e8e0;
}

#battery.critical:not(.charging) {
  background-color: #b5e8e0;
  color: #161320;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #bf616a;
    color: #b5e8e0;
  }
}

#periferals {
  margin: 4px;
  padding: 0 8px;
  border-radius: 16px;
  transition: none;
  background: rgba(17, 17, 27, 0.38);
  color: #b5e8e0;
  box-shadow:
    inset -1px -1px 0 0 #89b4fa,
    inset 0 0 1px 1px #89b4fa,
    inset -1px -1px 0 0 #cba6f7;
}

#hardware {
  margin: 4px;
  padding: 0 8px;
  border-radius: 16px;
  transition: none;
  background: rgba(17, 17, 27, 0.38);
  color: #b5e8e0;
  box-shadow:
    inset -1px -1px 0 0 #89b4fa,
    inset 0 0 1px 1px #89b4fa,
    inset -1px -1px 0 0 #cba6f7;
}

#backlight {
  border-radius: 16px;
  transition: none;
  color: #cdd6f4;
}

#clock {
  margin: 4px;
  padding: 0 8px;
  border-radius: 16px;
  transition: none;
  background: rgba(17, 17, 27, 0.38);
  color: #cdd6f4;
  box-shadow:
    inset -1px -1px 0 0 #89b4fa,
    inset 0 0 1px 1px #89b4fa,
    inset -1px -1px 0 0 #cba6f7;
}

#memory {
  margin-right: 8px;
  border-radius: 16px;
  transition: none;
  color: #cdd6f4;
}

#cpu {
  border-radius: 16px;
  transition: none;
  color: #cdd6f4;
}

#language {
  margin-right: 8px;
  border-radius: 16px;
  transition: none;
  color: #cdd6f4;
}

#temperature {
  margin-right: 8px;
  border-radius: 16px;
  transition: none;
  color: #cdd6f4;
}

#tray {
  margin: 4px;
  padding: 0 12px;
  border-radius: 18px;
  transition: none;
  color: #b5e8e0;
  background: rgba(17, 17, 27, 0.38);
  box-shadow:
    inset -1px -1px 0 0 #89b4fa,
    inset 0 0 1px 1px #89b4fa,
    inset -1px -1px 0 0 #cba6f7;
}

#custom-launcher {
  font-size: 10px;
  border-radius: 10px;
  transition: none;
  color: #89dceb;
  background: rgba(17, 17, 27, 0.38);
}

#custom-power {
  font-size: 10px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #f28fad;
}

#custom-wallpaper {
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #c9cbff;
}

#custom-powermenu {
  margin-top: 4px;
  margin: 4px;
  padding: 0 12px 0 8px;
  border-radius: 50%;
  transition: none;
  background: rgba(17, 17, 27, 0.38);
  color: #f38ba8;
  box-shadow:
    inset -1px -1px 0 0 #f38ba8,
    inset 0 0 1px 1px #f38ba8,
    inset -1px -1px 0 0 #eba0ac;
}

#custom-updates {
  margin-top: 4px;
  margin: 4px;
  padding: 0 8px;
  border-radius: 16px;
  transition: none;
  background: rgba(17, 17, 27, 0.38);
  color: #cdd6f4;
  box-shadow:
    inset -1px -1px 0 0 #89b4fa,
    inset 0 0 1px 1px #89b4fa,
    inset -1px -1px 0 0 #cba6f7;
}

#custom-ddcutil {
  margin-right: 8px;
  border-radius: 16px;
  transition: none;
  color: #cdd6f4;
}

#custom-media {
  margin-top: 4px;
  margin: 4px;
  padding: 0 8px;
  border-radius: 16px;
  transition: none;
  background: rgba(17, 17, 27, 0.38);
  color: #cdd6f4;
}
