@import "mocha.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: alpha(@base, 0.5);
  border-bottom: 3px solid alpha(@mantle, 0.5);
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @text;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @text;
}

#workspaces button:hover {
  background: alpha(@crust, 0.2);
}

#workspaces button.focused {
  background-color: @overlay0;
  box-shadow: inset 0 -3px @text;
}

#workspaces button.active {
  background-color: alpha(@overlay0, 0.7);
  box-shadow: inset 0 -3px @text;
}

#workspaces button.urgent {
  background-color: @red;
}

#mode {
  background-color: @overlay1;
  border-bottom: 3px solid @text;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
  padding: 0 10px;
  color: @text;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: @overlay1;
}

#battery {
  background-color: @text;
  color: #000000;
}

#battery.charging,
#battery.plugged {
  color: @text;
  background-color: @green;
}

@keyframes blink {
  to {
    background-color: @text;
    color: @crust;
  }
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: @text;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: @crust;
}

#cpu {
  background-color: @green;
  color: @crust;
}

#memory {
  background-color: @mauve;
}

#disk {
  background-color: @maroon;
}

#backlight {
  background-color: @overlay1;
}

#network {
  background-color: @blue;
}

#network.disconnected {
  background-color: @red;
}

#pulseaudio {
  background-color: @yellow;
  color: @crust;
}

#pulseaudio.muted {
  background-color: @overlay1;
  color: @green;
}

#wireplumber {
  background-color: @text;
  color: @crust;
}

#wireplumber.muted {
  background-color: @red;
}

#custom-media {
  background-color: @green;
  color: @teal;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: @green;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: @red;
}

#tray {
  background-color: @sapphire;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

#idle_inhibitor {
  background-color: @overlay0;
}

#idle_inhibitor.activated {
  background-color: @text;
  color: @overlay0;
}

#mpd {
  background-color: @green;
  color: @teal;
}

#mpd.disconnected {
  background-color: @red;
}

#mpd.stopped {
  background-color: @surface0;
}

#mpd.paused {
  background-color: @green;
}

#language {
  background: @green;
  color: @mauve;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: @green;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: alpha(@crust, 0.2);
}

#scratchpad {
  background: alpha(@crust, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: @text;
}

#privacy-item.screenshare {
  background-color: @maroon;
}

#privacy-item.audio-in {
  background-color: @green;
}

#privacy-item.audio-out {
  background-color: @blue;
}
